<link rel="icon" type="image/svg+xml" href="{{ "assets/images/favicons/favicon.svg" | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/images/favicons/favicon-32.png" | relative_url }}" />
<link rel="mask-icon" href="{{ "assets/images/favicons/mask-icon.svg" | relative_url }}" color="#4a45c7" />
<link rel="apple-touch-icon" href="{{ "assets/images/favicons/apple-touch-icon.png" | relative_url }}" />
<meta name="msapplication-TileColor" content="#4a45c7">
<meta name="theme-color" content="#4a45c7">
