/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  // Smooth transition when switching color schemes
  transition: background-color 0.3s ease, color 0.3s ease;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: $base-sans-serif;
  text-transform: none;
}



/**
 * Links
 */
a {
  color: var(--color-brand);
  text-decoration: none;
  @include transition(all 0.25s ease-in-out);

  &:hover {
    color: var(--color-brand-hover);
  }

}



/**
 * Blockquotes
 */
blockquote {
  color: var(--color-grey);
  border-left: 4px solid var(--color-grey-light);
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid var(--color-grey-light);
  border-radius: 3px;
  background-color: var(--color-code-bg);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit;
  @include transition(all 0.25s ease-in-out);
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 1.5;
    padding-left: $spacing-unit / 1.5;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: var(--color-grey);
  }
}


/**
 * Inputs / Buttons
 */


 input, textarea {
   display: block;
   outline: 0;
   box-shadow: none;
   border-radius: 0;
   @include appearance(none);
   margin: 10px 0;
   width: 100%;
   font-size: 20px;
   font-family: $base-font-family;
   padding: 10px;
   border: 1px solid var(--color-input-border);
   border-bottom: 2px solid var(--color-input-border);
   background: var(--color-input-bg);
   color: var(--color-text-muted);
   @include transition(all 0.3s ease-in-out);

   &:focus {
     outline: 0;
     border-bottom: 2px solid var(--color-brand);
     color: var(--color-text);
     background: var(--color-input-bg);
   }

 }

 button[type="submit"] {
   display:inline-block;
   background: var(--color-bg);
   margin: 3px 0;
   font-size: 20px;
   font-family: $base-sans-serif;
   text-transform: uppercase;
   color: var(--color-brand);
   border: 2px solid var(--color-brand);
   letter-spacing: 0;
   padding: 10px 18px;
   border-radius:3px;
   cursor: pointer;
   @include appearance(none);
   @include transition(all 0.3s ease-in-out);

   i {
     display:inline-block;
     margin-right:5px;
     font-size: 20px;
   }

   &:hover:not(:disabled) {
     color: var(--color-brand-hover);
     border-color: var(--color-brand-hover);
     letter-spacing: 1px;
   }

   &:focus {
     outline: 0;
   }

   &:disabled {
     border-color: var(--color-text-light);
     color: var(--color-text-light);

     &:after {
       content: "ing...";
       letter-spacing: 1px;
     }
   }
 }

