<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

      <a href="#main-content" class="skip-link" data-nosnippet>Skip to main content</a>

      {% include header.html %}

      <main id="main-content" class="page-content zigzag dark" aria-label="Content">
        {% if page.url == '/' %}
          {{ content }}
        {% else %}
          <section class="wrapper">
            {{ content }}
          </section>
        {% endif %}
      </main>

      {% include footer.html %}


  </body>

</html>
